body{

margin:0;
padding:0;
background:#eef4ff;
font-family:Arial;
text-align:center;

}

nav{

background:#003366;
padding:15px;

}

nav a{

color:white;
text-decoration:none;
margin:20px;
font-size:20px;
font-weight:bold;
transition:.4s;

}

nav a:hover{

color:yellow;

}

.container{

width:80%;
margin:auto;
background:white;
padding:30px;
margin-top:30px;
border-radius:15px;
box-shadow:0px 0px 15px gray;

}

.logo{

width:180px;
height:220px;
border-radius:10px;
border:4px solid orange;

}

h1{

color:#003366;
letter-spacing:2px;
text-transform:uppercase;

}

p{

font-size:20px;
line-height:30px;
color:#444;

}

.form-box{

width:500px;
margin:auto;
margin-top:40px;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0px 0px 15px gray;

}

input,select,textarea{

width:90%;
padding:12px;
margin:10px;
border:2px solid #003366;
border-radius:8px;
font-size:16px;

}

input[type=submit]{

background:#003366;
color:white;
cursor:pointer;
font-size:18px;

}

input[type=submit]:hover{

background:orange;
color:black;
transform:scale(1.05);

}

video{

border-radius:15px;
border:5px solid #003366;
margin-top:20px;

}